*{
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/* 위의 코드가 기본 값!!, 의도한대로의 변경을 수월하게 하기 위해서 */
.vw-class{
    background-color: antiquewhite;
    width: 50vw;
    height: 60vh;
    /* 디바이스에 있는 원래 픽셀 상관없이 해당 부분을 사용자의 편의에 맞춘 px로 변경 가능하다 */
}
.px-class{
    font-size: 10px;
}
/* 절대값 , 디바이스에 따라 달라짐*/
.rem-class{
    font-size: 1.2rem;
}

.em-class{
    font-size: 1.2em;
}

.percent-class{
    font-size: 120%;
}